.address {
    background-color: $color-block;
    padding: 35px 15px;
}

.address__item {
    margin-bottom: 26px;
}

.address__item:last-child {
    margin-bottom: 0;
}

.address__item--label {
    font-size: 15px;
    font-weight: bold;
}

.address__title {
    text-align: left;
    margin: 0;
}

.address__list {
    margin: 0;
    padding: 30px 0 0;
}

.address__item--description {
    margin: 0;
}

.address__item--label {
    margin: 0;
    margin-bottom: 10px;
}


@media (min-width: $tablet-width) {
    .address {
        background-color: $color-block;
        padding: 60px 65px 60px 45px;
    }
}

@media (min-width: $desktop-width) {
    .address {
        padding: 60px 111px 70px 198px;
    }

    .address__list {
        padding: 40px 0 0;
    }

    .address__item {
        margin-bottom: 30px;
    }
}