.address {
    background-color: var(--color-block);
    padding: 35px 15px;

    &__item {
        + .address__item {
            margin-top: 26px;
        }

        &--label {
            font-size: 15px;
            font-weight: bold;
            margin: 0;
            margin-bottom: 10px;
        }

        &--description {
            margin: 0;
        }
    }

    &__title {
        margin: 0;
        text-align: left;
    }

    &__list {
        margin: 0;
        padding: 30px 0 0;
    }
}

@media (min-width: $tablet-width) {
    .address {
        padding: 60px 65px 60px 45px;
    }
}

@media (min-width: $desktop-width) {
    .address {
        padding: 60px 111px 70px 198px;

        &__list {
            padding: 40px 0 0;
        }

        &__item {
            + .address__item {
                margin-top: 30px;
            }
        }
    }
}
