.button {
    border: none;
    border-radius: 50px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 15px 60px 17px 30px;
    position: relative;

    &--white {
        background-color: $color-white;
        border: 2px solid transparent;
        color: $color-font;
        height: 52px;
        min-width: 206px;

        &:hover {
            color: $color-font;
            cursor: pointer;
        }

        &:active {
            color: $color-font;
            opacity: 0.8;
        }

        &::before {
            background-color: $color-button-orange;
            border-radius: 50px;
            content: "";
            font-size: 16px;
            height: 36px;
            line-height: 19px;
            position: absolute;
            right: 7px;
            top: 6px;
            width: 36px;
        }

        &::after {
            background-image: url("../../img/icon-paw.svg");
            background-repeat: no-repeat;
            content: "";
            height: 36px;
            position: absolute;
            right: 0;
            top: 15px;
            width: 36px;
        }
    }

    &--orange {
        background-color: $color-button-orange;
        border: 2px solid transparent;
        color: $color-white;
        height: 52px;
        min-width: 240px;

        &:hover {
            color: $color-white;
            cursor: pointer;
        }

        &:active {
            color: $color-white;
            opacity: 0.8;
        }

        &::before {
            background-color: $color-white;
            border-radius: 50px;
            content: "";
            font-size: 16px;
            height: 36px;
            line-height: 19px;
            position: absolute;
            right: 7px;
            top: 6px;
            width: 36px;
        }

        &::after {
            background-image: url("../../img/icon-button-paw-orange.svg");
            background-repeat: no-repeat;
            content: "";
            height: 36px;
            position: absolute;
            right: 0;
            top: 15px;
            width: 36px;
        }
    }
}

.button:hover::before {
    opacity: 0.5;
}

@media (min-width: $tablet-width) {
    .button--orange {
        min-width: 206px;
    }
}

@media (min-width: $desktop-width) {
    .button--orange {
        height: 52px;
        min-width: 206px;
    }
}
