.container {
    padding-left: 15px;
    padding-right: 15px;
}


@media (min-width: $tablet-width) {
    .container {
        padding-left: 45px;
        padding-right: 45px;
    }
    
}

@media (min-width: $desktop-width) {
  
}