.feedback-container {
    overflow: hidden;
    padding: 34px 0 54px;
    position: relative;
    z-index: 2;

    &__title {
        margin: 0;
        padding: 20px 0;
    }

    &::after {
        background-image: url("../img/fon-paw.svg");
        background-repeat: no-repeat;
        background-size: contain;
        content: " ";
        display: block;
        height: 99px;
        opacity: 0.15;
        position: absolute;
        right: -30px;
        top: 50px;
        transform: rotate(-30deg);
        width: 116px;
        z-index: -1;
    }
}

@media (min-width: $tablet-width) {
    .feedback-container {
        padding: 110px 0;

        &::after {
            height: 194px;
            right: -20px;
            top: 50px;
            transform: matrix(-0.79, 0.62, 0.62, 0.79, 0, 0);
            width: 227px;
        }

        &__title {
            margin: 0;
            padding: 0 0 35px;
        }
    }
}

@media (min-width: $desktop-width) {
    .feedback-container {
        padding: 140px 0 150px;

        &__title {
            margin: 0;
            padding: 0 0 50px;
        }

        &::after {
            height: 267px;
            right: -45px;
            top: 45px;
            width: 312px;
        }
    }
}
