.feedback-block {
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(208, 208, 208, 0.25);
    font-family: var(--font-rubik);
    font-size: 15px;
    line-height: 21px;
    min-height: 230px;
    padding: 21px 10px 25px 56px;

    &__info {
        display: none;
    }

    &__text {
        margin: 0;

        &::before {
            background-image: url("../../img/sprite-quotes.svg");
            content: " ";
            height: 22px;
            left: 40px;
            position: absolute;
            width: 21px;
        }
    }
}

@media (min-width: $tablet-width) {
    .feedback-block {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        justify-content: space-between;
        line-height: 20px;
        min-height: 201px;
        padding: 35px 33px 35px 70px;
        position: relative;
        width: 442px;

        &__text::before {
            background-repeat: no-repeat;
            height: 28px;
            width: 27px;
        }

        &__info {
            align-items: center;
            color: var(--color-autor);
            display: flex;
            font-size: 14px;
            justify-content: space-between;
            line-height: 17px;
            margin-top: 15px;

            &--autor {
                margin: 0;
            }
        }
    }
}

@media (min-width: $desktop-width) {
    .feedback-block {
        min-height: 206px;
        padding: 35px 38px 35px 70px;
        width: 470px;
    }
}
