.footer-nav__logo {
    height: 38px;
    width: 46px;
}

@media (min-width: $tablet-width) {
    
    .footer-nav {
        align-items: center;
        display: flex;
        justify-content: space-between;

        &__logo {
            height: 52px;
            width: 63px;
        }
    }
}

