.footer-map__iframe {
    border: none;
    height: 300px;
    width: 320px;
    
    @media (min-width: $tablet-width) {
        height: 552px;
        width: 399px;
    }

    @media (min-width: $desktop-width) {
        height: 580px;
        width: 798px;    
    }
}

