.footer-map__iframe {
    width: 320px;
    height: 300px;
    border: none;
}

@media (min-width: $tablet-width) {
    .footer-map__iframe {
        width: 399px;
        height: 552px;
        
    }
}

@media (min-width: $desktop-width) {
    .footer-map__iframe {
        width: 798px;
        height: 580px;
    }
}