.footer-map {
    width: 100%;
    height: 300px;
 
}

.footer-map__iframe {
    width: 320px;
    height: 300px;
    border: none;
}


@media (min-width: $tablet-width) {
    .footer-map {
        width: 399px;
        height: 552px;
    }
    .footer-map__iframe {
        width: 399px;
        height: 552px;
        
    }
    
}

@media (min-width: $desktop-width) {
  
}