.footer__nav {
    padding: 30px 15px 15px;
    min-height: 167px;
}

@media (min-width: $tablet-width) {
  .footer__address {
      display: flex;
      height: 552px;
  }

  .footer__address--text {
      width: 369px;
  }

  .footer__address--map {
      width: 399px;
  }

  .footer__nav {
    padding: 0 45px;
    min-height: 76px;
}
}

@media (min-width: $desktop-width) {
  
}