.footer__nav {
    min-height: 167px;
    padding: 30px 15px 15px;
}

@media (min-width: $tablet-width) {
    .footer__address {
        display: flex;
        height: 552px;

        &--text {
            width: 369px;
        }

        &--map {
            width: 399px;
        }
    }

    .footer__nav {
        min-height: 76px;
        padding: 0 45px;
    }
}

@media (min-width: $desktop-width) {
    .footer__address {
        height: 580px;

        &--text {
            width: 568px;
        }

        &--map {
            width: 798px;
        }
    }
    
    .footer__nav {
        padding: 0 198px;
    }
}
