.general {
    background-color: $color-fon;
    width: 320px;
    padding: 0;
    margin: 0 auto;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: $tablet-width) {
    .general {
        width: 768px;
    }
}

@media (min-width: $desktop-width) {
    .general {
        width: 1366px;
    }
}