.general {
    background-color: $color-fon;
    width: 320px;
    padding: 0;
    margin: 0 auto;
    position: relative;
    font-family: "Lato", sans-serif;
    // box-shadow: 0 0 10px rgba(0,0,0,0.5);
}