.general {
    background-color: $color-fon;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 320px;

    @media (min-width: $tablet-width) {
        width: 768px;
    }

    @media (min-width: $desktop-width) {
        width: 1366px;
    }
}

