.header {
    height: 370px;
    width: 320px;
    background-color: $color-block;
    margin: 0;
    padding: 12px 15px;
}

.header--close {
    display:none;
}

.header__contacts--number {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
}

.header__contacts--number {
    padding: 20px 0 20px ;
}

@media (max-width: $mobile-width-only) {
   
    .header--with-js {
        height: 62px;
        background-color: $color-white;
    }
    
    .header--with-js .header--toggle {
        display: none;
    }

    .header--with-js .nav-header__button--menu {
        display: block;
    }
}

@media (min-width: $tablet-width) {
    .header {
        height: 76px;
        background-color: $color-white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        width: 100%;
        padding: 12px 30px 12px 45px;
    }

    .header__contacts {
        display: none;
    }
}

@media (min-width: $desktop-width) {
    .header {
        height: 76px;
        padding: 12px 98px;
    }

    .header__contacts {
        display: none;
    }
}