.header {
    background-color: $color-block;
    height: 370px;
    margin: 0;
    padding: 12px 15px;
    width: 320px;

    &--close {
        display: none;
    }

    &__contacts--number {
            font-family: 'Rubik', sans-serif;
            font-size: 16px;
            font-style: normal;
            line-height: 19px;
            margin: 0;
            padding: 20px 0;
    }   
}


@media (max-width: $mobile-width-only) {
    .header__with-js {
        background-color: $color-white;
        height: 62px;

        & .header--toggle {
            display: none;
        }

        & .nav-header__button--menu {
            display: block;
        }
    }    
}

@media (min-width: $tablet-width) {
    .header {
        align-items: center;
        background-color: $color-white;
        display: flex;
        height: 76px;
        justify-content: space-between;
        margin: 0;
        padding: 12px 30px 12px 45px;
        width: 100%;

        &__contacts {
            display: none;
        }
    }
}

@media (min-width: $desktop-width) {
    .header {
        height: 76px;
        padding: 12px 98px;

        &__contacts {
            display: none;
        }
    }
}
