.header {
    height: 370px;
    width: 320px;
    background-color: $color-block;
    margin: 0;
    padding: 15px;
}
.header__contacts--number {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    
}