.nav-footer {
    &__list {
        color: $color-font;
        display: flex;
        flex-wrap: wrap;
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        line-height: 19px;
        margin: 0;
        padding-top: 15px;
    }

    &__item {
        padding: 8px 0;
        width: 130px;
    }

    &__item a {
        color: $color-font;
    }
}

@media (min-width: $tablet-width) {
    .nav-footer {
        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            padding-top: 0;
        }

        &__item {
            margin-left: 30px;
            padding: 0;
            width: auto;

            &:hover {
                border-bottom: 1px solid $color-font;
                margin-bottom: -1px;
            }
        }
    }
}

