.reason-block {
    width: 290px;
    min-height: 200px;
    background-color: $color-white;
    border-radius: 10px;
    box-shadow: 0 0 16px rgba(0,0,0,0.05);
    margin: 10px 0;
}


.reason-block__image {
    fill: $color-white;
    position: relative;
   
}

.reason-block__container {
    width: 60px;
    height: 60px;
    background-color: $color-block;
    border-radius: 50%;
    margin: 0;
    text-align: center;
    padding: 14px 0;
    
}

.reason-block__image--temp {
    width: 20px;
    height: 36px;
}
.reason-block__image--cam {
    width: 30px;
    height: 24px;
}
.reason-block__image--avto {
    width: 33px;
    height: 20px;
}
.reason-block__image--eat {
    width: 35px;
    height: 23px;
}

.reason-block__image--walks {
    width: 31px;
    height: 26px;
}
.reason-block__image--veterinary {
    width: 27px;
    height: 28px;
}