.reason-block {
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(208, 208, 208, 0.25);
    font-family: var(--font-open-sans);
    font-size: 15px;
    line-height: 21px;
    margin: 0;
    margin-bottom: 30px;
    min-height: 200px;
    padding: 10px;
    padding-bottom: 25px;
    width: 290px;

    &:hover {
        box-shadow: 0 0 25px rgba(208, 208, 208, 0.7);
    }

    &__title {
        font-family: var(--font-rubik);
        font-size: 17px;
        font-weight: bold;
        margin: 0;
        padding: 28px 0 10px 15px;
    }

    &__description {
        font-size: 14px;
        line-height: 21px;
        margin: 0;
        padding: 0 15px;
    }

    &__container {
        align-items: center;
        background-color: var(--color-block);
        border-radius: 50%;
        display: flex;
        height: 60px;
        justify-content: center;
        margin: 0;
        margin-left: 15px;
        margin-top: 13px;
        text-align: center;
        width: 60px;
    }
    
    &__image {
        fill: var(--color-white);
        position: relative;

        &--temp {
            height: 36px;
            width: 20px;
        }

        &--cam {
            height: 24px;
            width: 30px;
        }

        &--avto {
            height: 20px;
            width: 33px;
        }

        &--eat {
            height: 23px;
            width: 35px;
        }

        &--walks {
            height: 26px;
            width: 31px;
        }
        
        &--veterinary {
            height: 28px;
            width: 27px;
        }
    }
}

@media (min-width: $tablet-width) {
    .reason-block {
        min-height: 285px;
        width: 324px;

        &__container {
            height: 75px;
            margin-left: 15px;
            margin-top: 13px;
            width: 75px;
        }

        &__description {
            font-size: 14px;
            padding: 0 35px 0 15px;
        }

        &__title {
            font-size: 20px;
            padding: 28px 0 15px 15px;
        }

        &__image {
            &--temp {
                height: 45px;
                width: 26px;
            }

            &--cam {
                height: 31px;
                width: 39px;
            }

            &--avto {
                height: 25px;
                width: 42px;
            }

            &--eat {
                height: 28px;
                width: 43px;
            }

            &--walks {
                height: 32px;
                width: 39px;
            }

            &--veterinary {
                height: 35px;
                width: 34px;
            }
        }
    }
}

@media (min-width: $desktop-width) {
    .reason-block {
        min-height: 321px;
        width: 370px;

        &__container {
            height: 91px;
            margin-left: 15px;
            margin-top: 13px;
            width: 91px;
        }

        &__image {
            &--temp {
                height: 55px;
                width: 31px;
            }

            &--cam {
                height: 37px;
                width: 47px;
            }

            &--avto {
                height: 31px;
                width: 51px;
            }

            &--eat {
                height: 35px;
                width: 53px;
            }

            &--walks {
                height: 39px;
                width: 47px;
            }

            &--veterinary {
                height: 43px;
                width: 41px;
            }
        }
    }
}
