.room-description {
    min-height: 252px;
    padding: 20px 25px;
    margin: 0;
    background-color: $color-white;
}

.room-description__title {
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}

.room-description__list {
    padding-top: 20px;
    font-size: 15px;
    padding-left: 19px;
}

.room-description__item {
    margin-bottom: 13px;
    position: relative;
}

.room-description__item::before {
    position: absolute;
    content: " ";
    background-color: $color-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    top: 3px;
    left: -19px;
}

.room-description__button {
    margin-top: 8px;
}

@media (min-width: $tablet-width) {
    .room-description {
        width: 345px;
        height: 266px;
        padding: 40px;
        margin: 0;
        box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
        border-radius: 8px;
    }

    .room-description__item br {
        display: none;
    }

    .room-description__list {
        padding-top: 18px;
        font-size: 14px;
        padding-left: 19px;
        line-height: 18px;
    }

    .room-description__button {
        margin-top: 10px;
    }
    
    .room-description__item {
        margin-bottom: 10px;
    }
}

@media (min-width: $desktop-width) {
    .room-description {
        width: 500px;
        height: 284px;
        padding: 40px 100px;
        margin: 0;
    }

    .room-description__item br {
        display: none;
    }

    .room-description__list {
        padding-top: 18px;
        font-size: 14px;
        padding-left: 19px;
        line-height: 18px;
    }

    .room-description__button {
        margin-top: 10px;
    }
    
    .room-description__item {
        margin-bottom: 10px;
    }
}