.room-description {
    background-color: $color-white;
    margin: 0;
    min-height: 252px;
    padding: 20px 25px;

    &__title {
        font-family: "Rubik", sans-serif;
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
        margin: 0;
    }

    &__list {
        font-size: 15px;
        padding-left: 19px;
        padding-top: 20px;
    }

    &__item {
        margin-bottom: 13px;
        position: relative;

        &::before {
            background-color: $color-block;
            border-radius: 50%;
            content: " ";
            height: 11px;
            left: -19px;
            position: absolute;
            top: 3px;
            width: 11px;
        }
    }

    &__button {
        margin-top: 8px;
    }
}

@media (min-width: $tablet-width) {
    .room-description {
        border-radius: 8px;
        box-shadow: 0 0 25px rgba(208, 208, 208, 0.25);
        height: 266px;
        padding: 40px;
        width: 345px;

        &:hover {
            box-shadow: 0 0 25px rgba(208, 208, 208, 0.7);
        }

        &__list {
            font-size: 14px;
            line-height: 18px;
            padding-left: 19px;
            padding-top: 18px;
        }

        &__button {
            margin-top: 10px;
        }

        &__item {
            margin-bottom: 10px;
        }
    }

    .room-description__item br {
        display: none;
    }
}

@media (min-width: $desktop-width) {
    .room-description {
        height: 284px;
        padding: 40px 100px;
        width: 500px;

        &__list {
            font-size: 14px;
            line-height: 18px;
            padding-left: 19px;
            padding-top: 20px;
        }

        &__item {
            margin-bottom: 16px;
        }

        &__button {
            margin-top: 10px;
        }
        
    }

    .room-description__item br {
        display: none;
    }    
}
