.slider__list {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.slider__item {
    margin: 0 6px;
}

.slider__button {
    width: 12px;
    height: 12px;
    background-color: $color-inactive;
    border-radius: 50%;
    border: 0;
}

.slider__button:hover,
.slider__button:active,
.slider__button:focus {
    outline: none;
    background-color: $color-block;
    border: none;
}


.slider__button--active {
    background-color: $color-block;
}