.social-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.social-icon__item {
    margin-right: 20px;
  
}

.social-icon svg {
    background-color: $color-white;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

.social-icon svg:hover {
    background-color: $color-block;
    cursor: pointer;
}

.social-icon svg:active {
    background-color: $color-block;
    cursor: pointer;
    opacity: 0.8;
}

@media (min-width: $tablet-width) {
  
}

@media (min-width: $desktop-width) {
  
}
