.social-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    &__item {
        margin-right: 20px;
    }

    & svg {
        background-color: $color-white;
        border-radius: 50%;
        height: 24px;
        width: 24px;

        &:hover {
            background-color: $color-block;
            cursor: pointer;
        }

        &:active {
            background-color: $color-block;
            cursor: pointer;
            opacity: 0.8;
        }
    }
}

@media (min-width: $tablet-width) {
  
}

@media (min-width: $desktop-width) {
  
}
