.social-icon {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.social-icon__item {
  margin-right: 20px;
}

.social-icon svg{
  height: 24px;
  width: 24px;
  background-color: $color-white;
  border-radius: 50%;
}

.social-icon svg:hover {
  background-color: $color-block;
}
