.sort {
    position: relative;

    &__panel {
        width: 154px;
        height: 36px;
        background: #FFFFFF;
        box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
        border-radius: 25px;
        font-size: 13px;
        line-height: 16px;
        padding: 10px 15px;
        display: flex;

        &:hover {
            box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.5);
        }
    }

    &__list {
        width: 154px;
        min-height: 130px;
        background: #FFFFFF;
        box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.18);
        border-radius: 6px;
        font-size: 13px;
        line-height: 16px;
        margin: 0;

        position: absolute;
        top: 40px;
        right: 0;
    }

    &__item {
        padding: 9px 15px;
        display: flex;

        &:hover {
            background-color: var(--color-sort-hover);
            border-radius: 6px;
        }
    }

    &__arrow {
        margin-top: -1px;
        margin-right: 5px;
        display: block;
    }

    &__image {
        border: 2px solid #1A212F;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        height: 3px;
        margin-left: 20px;
        margin-top: 3px;

        &--up {
            transform: rotate(-135deg);
            margin-top: 7px;
        }
        
        &--down {
            transform: rotate(45deg);
        }
    }
}

