
.switch__slider {
    padding: 10px 0;

    @media (min-width: $tablet-width) {
        margin-top: 40px;
        padding-bottom: 0;
    }
}

@media (min-width: $desktop-width) {
    .switch {
        position: relative;

        &__button {
            position: absolute;
            right: 70px;
            top: 0;
        }
    }
}
