.title-text {
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 33px;
    text-align: center;
}

@media (min-width: $tablet-width) {
    .title-text {
        font-size: 36px;
        line-height: 43px;
    }
}

@media (min-width: $desktop-width) {
  
}
