  
@font-face {
    font-family: "Rubik";
    font-weight: normal;
    src: url("../../fonts/Rubik/Rubik-Medium.ttf") format("ttf"); 
}

@font-face {
    font-family: "Rubik";
    font-weight: bold;
    src: url("../../fonts/Rubik/Rubik-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Open_Sans";
    font-weight: normal;
    src: url("../../fonts/Open_Sans/OpenSans-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Open_Sans";
    font-weight: bold;
    src: url("../../fonts/Open_Sans/OpenSans-Bold.ttf") format("ttf");
}
