  
@font-face {
    font-family: "Rubik";
    font-weight: normal;
    src: url("../../fonts/Rubik-Medium.ttf") format("ttf"); 
}

@font-face {
    font-family: "Rubik";
    font-weight: bold;
    src: url("../../fonts/Rubik-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "OpenSans";
    font-weight: normal;
    src: url("../../fonts/OpenSans-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "OpenSans";
    font-weight: bold;
    src: url("../../fonts/OpenSans-Bold.ttf") format("ttf");
}
