  
// @font-face {
//     font-family: "Rubik";
//     src: url("../../fonts/Rubik/Rubik-Regular.ttf") format("ttf");
//     font-weight: normal;
// }

// @font-face {
//     font-family: "Rubik";
//     src: url("../../fonts/Rubik/Rubik-Medium.ttf") format("ttf");
//     font-weight: bold;
// }

// @font-face {
//     font-family: "Lato";
//     src: url("../../fonts/Lato/Lato-Regular.ttf") format("ttf");
//     font-weight: normal;
// }

// @font-face {
//     font-family: "Lato";
//     src: url("../../fonts/Lato/Lato-Bold.ttf") format("ttf");
//     font-weight: bold;
// }

html {
    box-sizing: border-box;
    overflow-x: hidden;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #e5e5e5;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    min-width: 320px;
    padding: 0;
}
 
img {
    max-width: 100%;
}
  
a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    outline-style: none;
}

$tablet-width: 768px;
$desktop-width: 1366px;
$mobile-width-only: 767px;

$color-white: #fff;
$color-font: #1a212f;
$color-font-footer: #8f8f8f;
$color-fon: #fffefc;
$color-block: #fac663;
$color-button-orange: #ff7236;
$color-image-item: #fab751;
$color-inactive: #e1e1e1;
$color-line: #efefef;
$color-autor: #848484;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@import '../../node_modules/node-normalize-scss/normalize';
@import '../sass/blocks/general.scss';
@import '../sass/blocks/button.scss';
@import '../sass/blocks/header.scss';
@import '../sass/blocks/logo.scss';
@import '../sass/blocks/nav-header.scss';
@import '../sass/blocks/social-icon.scss';
@import '../sass/blocks/banner.scss';
@import '../sass/blocks/reasons-container.scss';
@import '../sass/blocks/title-text.scss';
@import '../sass/blocks/reasons-container.scss';
@import '../sass/blocks/reasons-list.scss';
@import '../sass/blocks/reason-block.scss';
@import '../sass/blocks/container.scss';
@import '../sass/blocks/rooms-container.scss';
@import '../sass/blocks/rooms-block.scss';
@import '../sass/blocks/room-description.scss';
@import '../sass/blocks/slider.scss';
@import '../sass/blocks/feedback-container.scss';
@import '../sass/blocks/feedback-block.scss';
@import '../sass/blocks/address.scss';
@import '../sass/blocks/button-arrow.scss';
@import '../sass/blocks/switch.scss';
@import '../sass/blocks/footer-map';
@import '../sass/blocks/footer.scss';
@import '../sass/blocks/footer-confidentiality.scss';
@import '../sass/blocks/footer-nav.scss';
@import '../sass/blocks/nav-footer.scss';
@import '../sass/blocks/container.scss';
@import '../sass/blocks/visually-hidden.scss';
